<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RanfurlyCentre" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\kdes004\Documents\Visual Studio 2017\Projects\RanfurlyCareCentre\RanfurlyCareCentre_New.accdb&quot;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="ShowPath" value="False" />    
    <add key="ReportPath" value="C:\JARVIS\Reports\" />
	  <add key="OutputFileLocation" value="C:\JARVIS\OutputFiles\" />
	  <add key="ResourceFileLocation" value="C:\JARVIS\ResourceFiles\" />
    <add key="InputFileArchiveLocation" value="C:\Jarvis\InputFiles\Archive" />     
    <add key="StudentFieldList" value="vw_StudentFieldList.TXT" />
	  <add key="IndividualStudentFieldList" value="vw_IndividualStudentFieldList.TXT" />  
    <add key="StaffFieldList" value="vw_StaffFieldList.TXT" />
	  <add key="DoctorFieldList" value="vw_DoctorFieldList.TXT" />
    <add key="IncidentFieldList" value="vw_IncidentFieldList.TXT" />
    <add key="SpecialistFieldList" value="vw_SpecialistFieldList.TXT" />
    <add key="ResidentRollCallFielsList" value="vw_ResidentRollCallFielsList.TXT" />
    <add key="ResidetnRollCallMonthlySummaryFieldList" value="vw_ResidetnRollCallMonthlySummaryFieldList.TXT" />
    <add key="ResidetnRollCallYearlySummaryFieldList" value="vw_ResidetnRollCallYearlySummaryFieldList.TXT" />
    <add key="LicenseKey" value="nMyfbrrAOI+cqOEmoGwGsh3LCTYFkyaBGGYsWQq6Pd/qkuwiXkPnmOmhnx8meMUR5C7nkyXY6cormqmKn/CftA=="/>
    <add key="BackupLocation" value="C:\JARVIS\" />

    

    <add key="IsTest" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>